.navbar{
    background-color: bisque;
    align-self: center;
    text-align: center;
    font-size: 5vh;
    overflow: hidden;
    position: fixed; 
    right: 38%;
    z-index: 9;
}

.navbar a:hover{
    color: coral;
}
  
.navbar a.active{
    color: crimson;
    font-size: larger;
}

body{
    width: 100vw;
    background-color: rgba(106, 104, 104, 0.659);
}

.whitebg{
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}

.indexAbout{
    width: 600px;
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: rgb(187, 240, 240);
}

.contentspace{
    color: chocolate;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    position: relative;
}

.picbox{ 
    grid-area: picboxarea; 
}

.capbox{ 
    margin-top: 15%;
    font-size: larger;
    grid-area: capboxarea; 
}

.piccap{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      'picboxarea capboxarea';
}

.titlearea{
    text-align: center;
    font-size: 190%;
    color: darksalmon;
}

a:link{
    text-decoration: none;
}

img{
    width:450px;
    height:500px;
}
