body{
  background-color: rgb(253, 239, 222);
}

h1{
  text-align: center;
  margin-top: 2%;
  font-size: 400%;
}

h2{
  text-align: center;
  margin-top: 2%;
  font-size: 200%;
}

h4{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 100%;
}

#buttonplace{
  display: flex;
  justify-content: center;
  position: static;
}

#maze-container{
  position: relative;
  margin-left: 15%;
}

#maze-container2{
  position: relative;
  margin-left: 55%;
}

.cell{
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

button{
  display: block;
  margin-bottom: 12%;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: rgb(204, 178, 231);
  color: rgb(141, 89, 89);
  cursor: pointer;
}

button:hover{
  background-color:rgb(225, 205, 246);
}

button:active{
  background-color: rgb(131, 112, 150);
}

.cell{
  border: 1px solid black;
  position: absolute;
}

#instructions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction-text{
  text-align: center;
  margin-top: 5px;
}

.blocked{
  background-color: rgb(114, 114, 114);
}

.start, #start{
  background-color: rgb(95, 184, 123);
}

.end, #end{
  background-color: rgb(93, 136, 245);
}

.path{
  background-color: rgb(87, 156, 152);
}

.unvisited{
  background-color: rgb(240, 159, 163);
}

.item1{ 
  text-indent: -2%;
  grid-area: start; 
}

.item2{ 
  text-indent: -1.7%;
  grid-area: end; 
}

.item3{ 
  text-indent: -6%;
  grid-area: block; 
}

.item4{ 
  text-indent: -2%;
  grid-area: path; 
}

.item5{ 
  text-indent: -9%;
  grid-area: visit; 
}

.button1{ 
  grid-area: button1; 
}

.button2{ 
  grid-area: button2; 
}

.button3{ 
  grid-area: button3; 
}

.space2{ 
  grid-area: space2; 
}

.space1{ 
  grid-area: space1; 
}

#maze{
 margin-bottom: 22%;
}

p{
  margin-left: 8%;
  margin-right: 8%;
}

.grid-container{
  display: grid;
  grid-template-areas:
    'start end block path visit'
    'button1 space1 button2 space2 button3';
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  position: relative;
  grid-gap: 0.01%;
  justify-self: center;
  align-self: center;
}
