#container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #description{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #paragraph{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110%;
  }
  
  svg {
    border: 1px solid black;
  }
  