#container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  #description{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #paragraph{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
  }
  
  svg {
    border: 1px solid black;
  }
  