#container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  #description{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  svg {
    border: 1px solid black;
  }
  
  /* #main-svg {
    width: 100%;
    height: 100%;
  }
   */