#root {
    width: 600px;
    margin: auto;
}

#illusion {
    position: relative;
}

/* add more styling here */

#left-box.outer-box{
    width: 300px;
    height: 300px;
    background-color: rgb(160,160,160);
    float: left;
}
#right-box.outer-box{
    width: 300px;
    height: 300px;
    background-color:rgb(96,96,96);
    float: left;
}
.inner-box{
    width: 200px;
    height: 200px;
    background-color: rgb(128, 128, 128);
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

