body{
    background-color: rgb(221, 221, 221); 
}
.pinkbox{
    background-color: rgb(255, 182, 182);
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    border: 10px;
    align-self: center;
    text-align: center;
    width: 70vw;
}

.whitebox{
    background-color: rgb(255, 255,255);
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    border: 10px;
    align-self: center;
    text-align: center;
    width: 50vw;
    height: 50vw;
} 