body{
    background-color: rgb(221, 221, 221); 
}
.pinkbox{
    background-color: rgb(255, 182, 182);
    margin: auto;
    align-self: center;
    text-align: center;
    width: 70vw;
}

.whitebox{
    background-color: rgb(255, 255,255);
    margin: auto;
    align-self: center;
    text-align: center;
    width: 40vw;
} 

table{
    border-collapse: collapse;
    margin: auto;
}

td{
    margin: auto;
    border: 1px solid black;
    padding: 1px;
    width: 4vw;
    height: 4vw;
    background-color: aqua;
}

