body{
    background-color: rgb(221, 221, 221); 
}

.pinkbox{
    background-color: rgb(255, 182, 182);
    margin: auto;
    align-self: center;
    text-align: center;
    width: 70vw;
    height: 70vw;
}

.whitebox{
    background-color: rgb(255, 255,255);
    margin: auto;
    align-self: center;
    text-align: center;
    width: 42vw;
    height: 43.25vw;
} 

#space{
    height: 0.25vw;
    background-color: white;
}

#grid{
    margin: auto;
    margin-top: 2%;
    align-self: center;
    text-align: center;
    width: 40vw;
    height: 40vw;
}

td{
    margin: auto;
    border: 0.0005px solid black;
    padding: 0.05px;
    width: 4vw;
    height: 4vw;
}


